body{
    background-color: #F2F2F2;
}


.dynamic-swiper{
    width: 1290px;
    margin: 0 auto;
    .swiper-slide{
        width: 100%;
        height: 380px;
        &:hover .ab .rightswiper h3,
        &:hover .ab .rightswiper span{
            color: #014099;
        }
        &:hover .ab .leftswiper img{
            transform: scale(1.05);
        }
        .ab{
            display: flex;
            height: 100%;
        }
        .leftswiper{
           width: 645px;
           overflow: hidden;
           img{
               width: 100%;
               height: 100%;
               transition: all 0.4s;
           }
        }
        .rightswiper{
            width: 645px;
            height: 100%;
            background-color: #fff;
            position: relative;
            h3,time,p,span{
                position: absolute;
            }
            h3,time,span{
                color: #333;
            }
            h3{
                top: 60px;
                left: 60px;
                font-size: 24px;
                width: 325px;
            }
            time{
                top: 60px;
                right: 90px;
                font-size: 30px;
            }
            p{
                left: 60px;
                bottom: 60px;
                font-size: 14px;
                width: 240px;
                color: #999;
            }
            span{
                right: 90px;
                bottom: 60px;
                font-size: 14px;
            }
        }
    }
}

.info-swiper{
    width: 100%;
    height: 462px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    .item-info{
        width: 417px;
        height: 100%;
        background-color: #fff;
        
        &:hover .upinfo img{
            transform: scale(1.05);
        }
        &:hover .downinfo h3,
        &:hover .downinfo span{
            color: #014099;
        }
        .upinfo{
            height: 280px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                transition: all 0.4s;
            }
        }
        .downinfo{
            padding: 40px;
            height: 102px;
            position: relative;
            h3,time,span{
                position: absolute;
            }
            h3{
                width: 235px;
                height: 60px;
                letter-spacing: 2px;
                line-height: 30px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            time{
                right: 40px;
            }
            span{
                bottom: 40px;
            }
            h3,time{
                font-size: 20px;
            }
            span{
                font-size: 14px;
            }
        }
    }
}