/* 
    消除浮动，解决高度塌陷
*/
.clearfix:before, .clearfix:after {   
    content:"";   
    display:table;   
}   
.clearfix:after{   
    clear:both;   
    overflow:hidden;   
}   
.clearfix{   
    *zoom:1;   
} 
a{  
    text-decoration: none;
    color: #B0B0B0;
}
body{
    min-width: 1583px;
} 
