.header{
    width: 100%;
    background-color: #333;
}
.nav-top{
    width: 1226px;
    height: 43px;
    line-height: 43px;
    margin: 0 auto;
}
.titlewarper ,.titlewarper>li{
    float: left;
}
.nav-top a{
    font-size: 12px;
}
.nav-top li>a:hover{
    color: #fff;
}
.accountwarper{
    float: right;
    margin-right: 26px;
}
.accountwarper>li{
    float: left;
}
.shopcarwarper{
    height:auto;
    float: right;
    width: 120px;
    text-align: center;
    background-color: #424242;
    position: relative;
}
.shopcarwarper i{
    margin-right: 3px;
}
.line{
    float: left;
    height: 13px;
    border-left: 1px solid #423C37;
    margin: 15px 7px;
}
.downloadapp{
    position: relative;
}
.downloadapp .app{
    display: block;
}
.downloadapp:hover .dropdown{
    height: 148px;
}
.downloadapp:hover .app::after{
    content: '';
    width: 0;
    border: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    left: 16px;
    top: 28.5px;
}
.dropdown{
    position: absolute;
    top: 45px;
    left: -40px;
    width: 128px;
    height: 0;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 10px rgb(0, 0, 0,.3);
    transition: all 0.3s;
    background-color: #fff;
    z-index: 77;
}

.dropdown img{
    height: 88px;
    margin: 20px;
    margin-bottom: -20px;
}
.dropdown a{
    color: #333;
    font-size: 14px;
}
.shopdrop{
    background-color: #fff;
    width: 315px;
    height: 0;
    position: absolute;
    left: -195px;
    line-height: 100px;
    text-align: center;
    box-shadow:0 5px 5px rgb(0, 0, 0,.3);
    overflow: hidden;
    transition: all 0.3s;
    z-index: 77;
}
.shopdrop p{
    font-size: 12px;
}
.shopcarwarper:hover{
    background-color: #fff;
}
.shopcarwarper:hover .shoptext{

    color: #FF6700;
}
.shopcarwarper:hover .shopdrop{
    height: 100px;
}
.navheader{
    width: 100%;
    height: 100px;
    position: relative;
}
.headertitle{
    width: 1226px;
    height: 100px;
    margin: 0 auto;
}
.logodiv{
    float: left;
    
    margin-top: 22px;
}

.logodiv img{
    height: 56px;
}
.titlediv{
    float: left;
}
.titlediv ul,.titlediv li{
    float: left;
}
.titlediv ul{
    line-height: 100px;
    margin-left: 32px;
}
.titlediv li{
    margin-right: 25px;
}
.titlediv li>a{
    font-size: 16px;
    color: #333;
}
.titlediv li>a:hover{
    color: #FF6700;
}
.searchdiv{
    float: right;
    width: 291px;
    height: 48px;
    margin-left: 10px;
    margin-top: 26px;
}
.searchdiv input{
    outline: none;
    border: 1px solid #DDDDDD;
    border-right: none;
    width: 243px;
    height: 48px;
    float: left;
    transition: all 0.2s;
    padding: 0;
}
.searchdiv button{
    background-color: #fff;
    outline: none;
    border: 1px solid #ddd;
    width: 48px;
    height: 48px;
    float: left;
    cursor: pointer;
    transition: all 0.2s;
    padding: 0;
}
.searchdiv i{
    font-size: 17px;
    color: #616161;
}

.searchform:hover input,
.searchform:hover button{
    border-color: #B0B0B0;
}
.searchform input:focus,
.searchform input:focus ~button{
    border-color: #FF6700;
}

.fenlei{
    visibility: hidden;
}
.searchdiv button:hover{
    background-color: #FF6700;
    border-color: #FF6700;
}
.searchdiv button:hover i{
    color: #fff;
}

.titledropdown{
    left: 0;
    top: 100px;
    position: absolute;
    height: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 5px rgb(0, 0, 0,.3);
    transition: height 0.3s;
    z-index: 88;
}
.titlediv .showgoods:hover ~.titledropdown,
.titledropdown:hover{
    height: 230px;
    border-top: 1px solid #E0E0E0;
}
.posternav{
    margin: 0 auto;
    width: 1226px;
    height: 460px;
    position: relative;
    background-color: #bfa;
}
.posteritem{
    background-color: rgba(105,101,101,.6);
    width: 235px;
    height: 100%;
    position: absolute;
    z-index: 77;
}
.posteritem ul{
    width: 235px;
    height: 420px;
    padding: 20px 0;

}
.posteritem li{
    line-height: 42px;
    padding-left: 30px;
}
.posteritem li:hover{
    background-color: #FF6700;
}
.posteritem a{
    display: block;
    color: #fff;
    font-size: 14px;
}
.fa-angle-right{
    margin-top: 15px;
    margin-right: 20px;
    float: right;
}
.posterimg{
    position: absolute;
    top: 0;
}
.posterimg img{
    width: 1226px;
}
/* 
    导航条小样式
*/
.return-smail{
    width: 25px;
    height: auto;
    position: fixed;
    bottom: 100px;
    right: 50%;
    margin-right: -638px;
    z-index: 999;
    background-color: #fff;
} 
.return-smail li{
    height: 39px;
    width: 25px;
    text-align: center;
    border: 1px solid #F5F5F5;
}
.return-smail .lasttop{
    display: none;
}
.return-smail a{
    display: block;
    width: 27px;
    height: 28px;
    padding-top: 13px;
    color: #B9B9B9;
    transition: all 0.3s;
}
.return-smail a>span{
    display: none;
}
.return-smail a:hover{
    color: #FF6700;
}
/* 
    导航条大样式
*/
.return-larger{
    width: 84px;
    height: auto;
    position: fixed;
    background-color: #fff;
    right: 0;
    z-index: 999;
}
.return-larger li{
    height:92px;
    text-align: center;
    border: 1px solid #F5F5F5;
}

.return-larger i,
.return-larger span{
    color: #999;
}
.return-larger a{
    position: relative;
    top: 20px;
}

.return-larger i{
    font-size: 30px;
}
.return-larger span{
    display: block;
    font-size: 14px;
    margin-top: 8px;
}
.return-larger .lasttop{
    display: none;
}
.return-larger li:hover i,
.return-larger li:hover span{
    color: #FF6700;
}

.homerow{
    width: 1226px;
    height: 170px;
    margin: 0 auto;
    margin-top: 15px;
    overflow: hidden;
}
.homerow .homerowulone li{
    float: left;
    width: 77px;
    height: 83px;
    text-align: center;
    position: relative;
}
.homerow .homerowulone li::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    top: 2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #665E57;

}
.homerow .homerowulone li::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 60px;
    top: 0;
    left: 2px;
    bottom: 0;
    margin: auto 0;
    background-color: #665E57;
}
.homerow .homerowulone a{
    display: block;
    font-size: 12px;
    padding-top: 25px;
}
.homerow .homerowulone a:hover{
    color: white;
}
.homerowulone{
    width: 235px;
    height: 100%;
    background-color: #5F5750;
    float: left;
}
.homerow i{
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
}
.homeitemtwo{
    float: left;
}
.homeitemtwo li{
    float: left;
    width: 318px;
    margin-left: 12px;
}
.homeitemtwo img{
    width: 100%;
}
.goodsct{
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
    margin-top: 25px;
}

.homebanner{
    width: 1226px;
    padding: 25px 0;
    margin: 0 auto;
}
.homebanner img{
    width: 100%;
}
.homebrick{
    width: 1226px;
    height: 686px;
    margin: 0 auto;
}
.homebrick .tiltletext{
    height: 58px;
    line-height: 58px;
}
.homebrick .tiltletext h2,
.homebrick .tiltletext a{
    color: #333;
}
.homebrick .tiltletext h2{
    float: left;
    font-size: 22px;
}
.homebrick .tiltletext a{
    float: right;
    font-size: 16px;
}
.homebrick .tiltletext i{
    font-size: 18px;
    margin-left: 8px;
    color: #B0B0B0;
}
.homebrick .tiltletext a:hover,
.homebrick .tiltletext a:hover i{
    color: #FF6700;
}
.homebrick .boxbd{
    height: 100%;
}
.homebrick .span4{
    width: 234px;
    height: 616px;
    float: left;
}
.homebrick .span4 ul{
    width: 234px;
    float: left;
}
.homebrick .span4 li{
    transition: all 0.3s;
}
.homebrick .span4 img{
    width: 234px;
    height: 614px;
}
.homebrick .span16{
    width: 992px;
    height: 628px;
    float: left;
}
.homebrick .span16 ul{
    width: 992px;
    float: left;
}
.homebrick .span16 li{
    width: 234px;
    height: 280px;
    float: left;
    background-color: #fff;
    margin-left: 14px;
    margin-bottom: 14px;
    padding-top: 20px;
    text-align: center;
    transition: all 0.3s;
}
.homebrick .span16 a,
.homebrick .span16 span{
    display: block;
}
.homebrick .span16 img{
    width: 160px;
    height: 160px;
}
.homebrick .topspan{
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}
.homebrick .zhongspan{
    margin-top: 10px;
    font-size: 12px;
}
.homebrick .bottspan{
    font-size: 14px;
    margin-top: 20px;
    color: #FF6700;
}

.homebrick .span4 li:hover,
.homebrick .span16 li:hover{
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    transform: translate3d(0,-2px,0);
}

